
.launch-card {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  align-items: center;
  padding: 10px 10px 10px 10px;

}

.launch-width {
  width: 300px;

}

.form {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color:aliceblue;


}

.button-width {
  padding: 10px 10px;
  cursor: pointer;

}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 20%;
}

.main-div {
  font-family:sans-serif ;
}

.launch-date {
  width: 350px;
}

.launch-status {
  width: 175px;
  background-color:aqua ;
  justify-content: center;
}


.launch-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}

.launch-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 252, 252, 0.945);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  width: 50%;
  height: 50%;
  padding: 10px 10px;
}

.launch-modal-details {
  width: 100px;
}